{% extends 'base.html' %}

{% block content %}

    <style>
        #content {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        #space_cat {
            margin: 2vw 0 0;
            width: 30vw;
            height: 40vw;
        }
        .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
            cursor: pointer;
            display: block;
        }
        .overlay_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #5643fd;
            color: black;
            padding: 1vw;
            text-align: center;
        }
        .close_overlay {
            border: 2px solid silver;
            background-color: black;
            color: red;
            font-size: 1vw;
            font-weight: bold;
            border-radius: 50%;
            float: right;
            display: block;
            text-decoration: none;
            padding: 0.5vw;
            margin: 0;
        }
        .close_overlay:hover {
            background-color: red;
            color: #0c164f;
        }
        .overlay_form {
            padding: 0;
            margin: 0.5vw;
            background-color: #5643fd;
        }
        .overlay_input {
            background-color: black;
            border: 2px solid silver;
            font-size: 1vw;
            padding: 0.25vw;
            margin: 0.5vw;
            color: #5643fd;
        }
        .submit_button {
            background-color: black;
            color: #5643fd;
            border: 2px silver solid;
            font-size: 1vw;
            font-weight: bold;
            padding: 0.5vw;
            margin: 0.5vw;
            text-decoration: none;
        }
        .submit_button:hover {
            background-color: #0c164f;
            color: silver;
        }
        #new_user {
            font-size: 1vw;
            color: #0c164f;
            font-weight: bold;
        }
        #new_user:hover {
            color: silver;
        }
        .error_message {
        }
    </style>

    <div id="content">
        <img src="/static/vis/space_cat.jpg" alt="Space Cat" id="space_cat">
    </div>

    {% if login %}
        <div class="overlay">
            <div class="overlay_content">
                <a class="close_overlay" href="/index">X</a>
                <br>
                {% if error %}
                <p class="error_message">{{ error }}</p>
                <br>
                {% endif %}
                <form method="POST" class="overlay_form">
                    <br>
                    <input type="text" name="username" placeholder="Username" class="overlay_input">
                    <br>
                    <input type="password" name="password" placeholder="Password" class="overlay_input">
                    <br>
                    <input type="submit" name="submit_login" value="Login" class="submit_button">
                    <br>
                </form>
                <a href="/create_account" id="new_user">Create Account</a>
            </div>
        </div>
    {% endif %}

    {% if create_account %}
        <div class="overlay">
            <div class="overlay_content">
                <a class="close_overlay" href="/index">X</a>
                <br>
                {% if error %}
                <p class="error_message">{{ error }}</p>
                <br>
                {% endif %}
                <form method="POST" class="overlay_form">
                    <input type="text" name="username" placeholder="Username" class="overlay_input">
                    <br>
                    <input type="text" name="confirm_username" placeholder="Confirm Username" class="overlay_input">
                    <br>
                    <input type="password" name="password" placeholder="Password" class="overlay_input">
                    <br>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" class="overlay_input">
                    <br>
                    <input type="submit" name="create_account" value="Create Account" class="submit_button">
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}